@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-confirm {
    background-color: #dc3545; 
    color: white; 
    padding: 5px 8px;    
    border-radius: 5px;
    outline: none;
}
  
  .btn-cancel {
    background-color: #6c757d; 
    color: white; 
    padding: 5px 8px;
    border-radius: 5px;
    outline: none;
}
.custom-puff {
    fill: green; /* Change 'green' to your desired color */
    color: black;
  }
body{
    background-color: rgb(241, 245, 241);
}